{% extends "pyproject.base.toml.jinja" %}
{% block head -%}
[project]
name = "environment"
version = "0.1.0"
description = "The {{ env_name }} environment."
classifiers = ["Private :: Do not Upload"]
requires-python = ">=3.12"
dependencies = [
{% for t in templates %}{% include t ~ "/partials/deps.toml.jinja" ignore missing %}{% endfor %}    "karotte",
]

[project.optional-dependencies]
dev = [
  "environment[test]",
  "ruff",
  "rust-just>=1.40",
{% for t in templates %}{% include t ~ "/partials/dev_deps.toml.jinja" ignore missing %}{% endfor -%}
]

test = [
  "pytest>=8.4.1",
  "pytest-randomly>=3.16.0",
  "pytest-xdist",
  "pytest-asyncio",
]
{% endblock %}
{% block tail %}
[build-system]
requires = ["uv_build>=0.6.5"]
build-backend = "uv_build"

[tool.basedpyright]
reportImplicitOverride = false

[tool.ruff.lint]
select = [
  "E4",
  "E7",
  "E9",
  "F",
  "UP",
  "I"
]
{% endblock %}